{% extends 'base.html.twig' %}
{% block title %}Enregistrement{% endblock %}
{% block body %}
<div class="uk-section" uk-height-viewport="offset-top: true">
    <div class="uk-container uk-container-small">
        <h1>Enregistrement</h1>
        {{ form_start(registrationForm, { 'attr': { 'uk-grid': '', 'class': 'uk-grid-small' } }) }}
            {# element form username #}
            <div class="uk-width-1-3@s">
                <div class="uk-inline uk-width-1-1@s">
                    <span class="uk-form-icon" uk-icon="icon: happy"></span>
                    {{ form_widget(registrationForm.username, { 'attr': { 'class': 'uk-input', 'placeholder': 'Nom utilisateur' }} ) }}
                </div>
            </div>
            {# element form forname #}
            <div class="uk-width-1-3@s">
                <div class="uk-inline uk-width-1-1@s">
                    <span class="uk-form-icon" uk-icon="icon: user"></span>
                    {{ form_widget(registrationForm.forname, { 'attr': { 'class': 'uk-input', 'placeholder': 'Prénom' }} ) }}
                </div>
            </div>
            {# element form name #}
            <div class="uk-width-1-3@s">
                <div class="uk-inline uk-width-1-1@s">
                    <span class="uk-form-icon" uk-icon="icon: settings"></span>
                    {{ form_widget(registrationForm.name, { 'attr': { 'class': 'uk-input', 'placeholder': 'Nom' }} ) }}
                </div>
            </div>
            {# element form email #}
            <div class="uk-width-1-3@s">
                <div class="uk-inline uk-width-1-1@s">
                    <span class="uk-form-icon" uk-icon="icon: mail"></span>
                    {{ form_widget(registrationForm.email, { 'attr': { 'class': 'uk-input', 'placeholder': 'Couriel' }} ) }}
                </div>
            </div>
            {# element form pass 1 #}
            <div class="uk-width-1-3@s">
                <div class="uk-inline uk-width-1-1@s">
                    <span class="uk-form-icon" uk-icon="icon: lifesaver"></span>
                    {{ form_widget(registrationForm.plainPassword.first, { 'attr': { 'class': 'uk-input', 'placeholder': 'Mot de passe' }} ) }}
                </div>
            </div>
            {# element form pass 1 #}
            <div class="uk-width-1-3@s">
                <div class="uk-inline uk-width-1-1@s">
                    <span class="uk-form-icon" uk-icon="icon: lifesaver"></span>
                    {{ form_widget(registrationForm.plainPassword.second, { 'attr': { 'class': 'uk-input', 'placeholder': 'Répéter le mot de passe' }} ) }}
                </div>
            </div>
            {# element form termsAccepted #}
            <p>
                <label>
                    {{ form_widget(registrationForm.termsAccepted, {'attr': { 'name': '_term_accept', 'class': 'uk-checkbox' }}) }}
                    <span>En créant un compte sur notre plate forme, vous acceptez tacitement nos <a href="#">conditions d'utilisation.</a></span>
                </label>
            </p>
            {# element form button #}
            <div class="uk-width-1-1@s">
                <button class="uk-button uk-button-secondary uk-width-1-1">Enregistrement</button>
            </div>
        {{ form_end(registrationForm) }}
    </div>
</div>
{% endblock %}
