<div class="uk-section uk-padding-remove-vertical uk-background-secondary uk-light" uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; bottom: #transparent-sticky-navbar">
    <div class="uk-container uk-container-expand">
        <nav class="uk-navbar-container uk-navbar-transparent uk-margin" uk-navbar>
            {# logo and main menu element #}
            <div class="uk-navbar-left">
                <a class="uk-navbar-item uk-logo" href="{{ path('app_home') }}">eEn<span class="uk-visible@m">glish</span></a>
                <ul class="uk-navbar-nav">
                    <li><a href="{{ path('app_list_verb') }}"><span class="uk-icon uk-margin-small-right" uk-icon="icon: list"></span><span class="uk-visible@m">Verbes</span></a></li>
                    <li><a href="#"><span class="uk-icon uk-margin-small-right" uk-icon="icon: mail"></span><span class="uk-visible@m">Contact</span></a></li>
                </ul>
                <div class="uk-navbar-item"></div>
            </div>
            {# navbar right element #}
            <div class="uk-navbar-center">
                <ul class="uk-navbar-nav">
                    {# Element link Admin page #}
                    <li><a href="#" uk-toggle="target: #een-sidebar-one;" uk-icon="icon: arrow-left"></a></li>
                    <li><a href="#" uk-toggle="target: #een-sidebar-two;" uk-icon="icon: arrow-right"></a></li>
                </ul>
            </div>
            <div class="uk-navbar-right">
                {# Element add news verb and menu logged user #}
                {% if is_granted('ROLE_USER') %}
                <ul class="uk-navbar-nav">
                    {# Element link Admin page #}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li><a href="{{ path('app_admin_creation') }}" uk-icon="icon: cog"></a></li>
                    {% endif %}
                    <li><a href="{{ path('app_add_verb') }}" uk-icon="icon: plus-circle"></a></li>
                    <li>
                        <a href="#"><span class="uk-icon uk-margin-small-right" uk-icon="icon: happy"></span>{{ app.user.forname }}</a>
                        <div class="uk-navbar-dropdown">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                <li><a href="#"><span uk-icon="happy"></span> {{ app.user.forname }} {{ app.user.name }}</a></li>
                                <li><a href="{{ path('app_logout') }}"><span uk-icon="sign-out"></span> Déconnexion</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
                {% else %}
                {# Element menu anonymous user #}
                <ul class="uk-navbar-nav">
                    <li>
                        <a href="#" uk-icon="icon: happy"></a>
                        <div class="uk-navbar-dropdown">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                <li><a href="{{ path('app_login') }}"><span uk-icon="sign-in"></span> Connection</a></li>
                                <li><a href="{{ path('app_register') }}"><span uk-icon="settings"></span> Enregistrement</a></li>
                                <li><a href="#"><span uk-icon="unlock"></span> Mot de passe</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
                {% endif %}
            </div>
        </nav>
    </div>
</div>